@use '../../assets/sass/01-helpers/breakpoint' as bp;

.form-container {
  margin-bottom: 1.5rem;
}


.form__input {
  width: 85%;
  margin: 0 auto;
  padding: 0.5rem;
  border-radius: 20px;
  border: #fff 1px solid;
  display: block;
  font-size: 0.75rem;
  background-color: rgba(251, 253, 255, 0);
  text-align: center;

  @media (min-width: 320px) {
    font-size: 0.87rem;
  }
  @include bp.breakPointUp(sm) {
    font-size: 0.93rem;
  }

  @include bp.breakPointUp(md) {
    font-size: 1.375rem;
  }
}

.form__input::placeholder,
.form__input[value] {
  color: #fff;
}