@use '../../assets/sass/01-helpers/breakpoint' as bp;

.hourly-weather {
  display: flex;
  min-height: 90px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.hourly-weather__text {
  margin: 0;
  font-size: 1rem;

  @include bp.breakPointUp(md) {
    font-size: 1.25rem;
  }
}

.hourly-weather__item {
  width: 100%;
}

.hourly-weather__img {
  width: 35px;
  height: 35px;
}

.hourly-weather--center {
  display: block;
  margin: 0 auto;
}